.menu__list {
  display: flex;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.menu__list-item + .menu__list-item {
  padding-left: 20px;
}

.menu__list-link {
  transition: all linear 0.2s;
}

.menu__list-link:focus,
.menu__list-link:hover {
  opacity: 0.6;
}

.menu__list-link:active {
  opacity: 0.8;
}
