.scroll {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  padding-top: 13px;
  padding-bottom: 30px;

  text-align: center;
}

.scroll a {
  transition: all linear 0.2s;
}

.scroll a:focus,
.scroll a:hover {
  background-color: $color-stromboli;
}

.scroll a:active {
  opacity: 0.8;
}
