.container {
    max-width: 1270px;
    width: 100%;

    margin: 0 auto;
    padding-top: 0;
    padding-right: 15px;
    padding-bottom: 0;
    padding-left: 15px;
}

/* =====================================================================================
Media max-width: 1150px*/
// @media (max-width: 1150px) {
//     .container {
//         padding-right: 15px;
//         padding-left: 15px;
//     }
// }

/* =====================================================================================
Media max-width: 1150px*/
// @media (max-width: 1150px) {
//     .container--flex {
//         justify-content: center;
//     }
// }
